* {
    padding: 0;
    margin: 0;
    // overflow-x: hidden;
}

body {
    background-color: #EBE0D3 !important;
}

button {
    text-transform: uppercase !important;
}

.heading{
    font-weight: 600 !important;
}

h1.heading, h2.heading{
    text-transform: uppercase !important;
}

.footer p{
    color: #dfdfdf !important
}

.footer p span{
    color: #fff !important
}