.main-header {
    background-color: transparent;
    padding: 30px 10px;
    position: absolute;
    width: 100%;
    top: 0;

    @media (max-width: 992px) {
        background-color: #fff;
    }

    .navbar {
        .container {
            max-width: 1770px;
            margin: auto;

            .navbar-collapse {
                justify-content: flex-end;

                @media (max-width: 992px) {
                    padding: 10px;
                    background-color: #fff;
                    color: #000;
                    width: 100%;
                }

                .navbar-nav {
                    a.nav-link {
                        font-size: 16px;
                        font-weight: 500;
                        font-style: normal;
                        text-align: left;
                        color: #ffffff;
                        margin-right: 50px;

                        @media (max-width: 992px) {
                            color: #000;
                        }
                    }
                }

                form {

                    @media (max-width: 992px) {
                        margin-top: 20px;
                    }
                    .row {
                        @media (max-width: 767.5px) {
                            margin: 0;
                        }
                        input {
                            display: none;

                            @media (max-width: 992px) {
                                display: flex !important;
                            }

                            @media (max-width: 575px) {
                                width: 100%;
                            }
                        }
                        svg {
                            font-size: 21px;
                            height: 21px;
                            width: 21px;
                            cursor: pointer;
                            color: #fff;
                            margin-right: 50px;

                            @media (max-width: 992px) {
                                color: #000;
                            }

                            @media (max-width: 575px) {
                                display: none;
                            }
                        }

                        .col-auto {
                            display: flex;
                            align-items: center;
                            gap: 25px;
                            
                            @media (max-width: 992px) {
                                margin-top: 20px;
                            }
                            @media (max-width: 575px) {
                                gap: 10px;
                                flex-wrap: wrap;
                                justify-content: center;
                            }

                            &:nth-child(2) {
                                @media (max-width: 1200px) {
                                    display: none;
                                }
                                @media (max-width: 992px) {
                                    display: flex !important;
                                }
                            }

                            

                            button {
                                width: 196px;
                                height: 66px;
                                padding: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 19px;
                                border: 1px solid #fff;
                                cursor: pointer;

                                @media (max-width: 992px) {
                                    width: max-content;
                                    height: max-content;
                                    padding: 15px 20px;
                                    border-color: #000000;
                                    border-width: 2px;
                                    border-style: solid;
                                    background-color: transparent;
                                    color: #000;
                                }
                                @media (max-width: 450px) {
                                    height: max-content;
                                    padding: 10px 10px;
                                    border-radius: 5px;
                                    height: 48px;
                                }

                                span {
                                    font-size: 16px;
                                    font-weight: 500;
                                    font-style: normal;
                                    text-align: center;
                                }
                            }

                            .apply-btn {
                                background: #ffffff;

                                span {
                                    color: #000;
                                }
                            }

                            .contact-btn {
                                background-color: transparent;

                                span {
                                    color: #fff;

                                    @media (max-width: 992px) {
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
    
}