.footer {
    background: radial-gradient(farthest-corner at 100% 0%, 
    #5c5e62 0%,
    #0c0f14 100%);

    .container {
        max-width: 1660px;
        margin: auto;

        .footer-wrapper {
            padding: 100px 10px 0px;

            @media (max-width: 992px) {
                padding-bottom: 80px 10px 0px;
            }

            @media (max-width: 767.5px) {
                padding: 50px 10px 0px;
            }

            .top-footer {
                padding-bottom: 20px;
                border-bottom: 1px solid #fff;

                .row {
                    @media (max-width: 767.5px) {
                        margin: 0;
                    }
                    .col-md-3 {

                        @media (max-width: 992px) {
                            width: 50%;
                        }
                        @media (max-width: 575px) {
                            width: 100%;
                        }
                        .contents {
                            display: flex;
                            flex-direction: column;

                            .footer-logo {
                                margin-bottom: 30px;
                            }

                            p.description {
                                font-size: 16px;
                                font-weight: normal;
                                line-height: 26px;
                                font-style: normal;
                                color: #fff;
                                margin-bottom: 20px;
                            }

                            ul.menu-items {
                                margin: 20px 0;
                                list-style-type: none;
                                padding-left: 0;
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                row-gap: 20px;

                                li.menu-item {
                                    padding: 0 25px;
                                    border-right: 1px solid #fff;

                                    &:first-child {
                                        padding-left: 0;
                                    }

                                    &:last-child {
                                        border-right: none;;
                                    }

                                    a {
                                        text-decoration: none;

                                        img {
                                            height: 25px;
                                            width: 25px;
                                            filter:  brightness(0) invert(1);
                                        }
                                    }
                                }
                            }

                            h4.footer-title {
                                font-size: 34px;
                                font-weight: 600;
                                line-height: 44px;
                                font-style: normal;
                                margin-bottom: 40px;
                                color: #ffffff;

                                @media (max-width: 992px) {
                                    font-size: 30px;
                                    line-height: 40px;
                                    margin-bottom: 30px;
                                }
                    
                                @media (max-width: 767.5px) {
                                    font-size: 26px;
                                    line-height: 36px;
                                    margin-bottom: 20px;
                                }
                            }

                            ul.list-items {
                                margin: 0px 0px 20px;
                                list-style-type: none;
                                padding-left: 0;

                                li.list-item {
                                    padding: 10px 0;

                                    a {
                                        text-decoration: none;

                                        span {
                                            font-size: 16px;
                                            font-weight: 500;
                                            line-height: 22px;
                                            font-style: normal;
                                            color: #ffffff;
                                        }
                                    }
                                }
                            }

                            p.address {
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 22px;
                                font-style: normal;
                                color: #ffffff;
                                margin-bottom: 20px;
                                margin-top: 10px;

                                @media (max-width: 767.5px) {
                                    margin-bottom: 10px;
                                }
                            }

                            form.footer-form {

                                input {
                                    padding: 25px 50px;
                                    font-size: 16px;
                                    font-weight: 500;
                                    font-style: normal;
                                    color: #ebe0d3;
                                    border-color: #dfdfdf;
                                    border-width: 1px;
                                    border-style: solid;
                                    border-radius: 19px;
                                    background-color: transparent;
                                    margin-bottom: 30px;

                                    @media(max-width: 1600px) {
                                        width: 100%;
                                    }

                                    @media (max-width: 992px) {
                                        padding: 15px 20px;
                                        margin-bottom: 20px;
                                        height: max-content;
                                        border-radius: 10px;
                                    }
                                    @media (max-width: 450px) {
                                        height: max-content;
                                        padding: 10px 10px;
                                        border-radius: 5px;
                                        height: 48px;
                                    }

                                    &::placeholder {
                                        color: #fff;
                                    }
                                }

                                button.submit-btn {
                                    background: #71ba32;
                                    background: linear-gradient(-130deg, 
                                    #71ba32 0.00%, 
                                    #4eb3e8 100.00%);
                                    width: 231px;
                                    height: 66px;
                                    border-radius: 19px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: none;

                                    @media (max-width: 992px) {
                                        width: max-content;
                                        padding: 10px 30px;
                                        height: max-content;
                                        border-radius: 10px;
                                    }

                                    span {
                                        font-size: 16px;
                                        font-weight: 500;
                                        font-style: normal;
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .bottom-footer {
                padding: 20px 0;

                .bottom-foote-row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p.text {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 22px;
                        font-style: normal;
                        color: #ffffff;
                        margin-bottom: 0px;

                        span {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}