body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn_gradient{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

a.btn.quick-btn{
  background: linear-gradient(-130deg, #71ba32 0%, #4eb3e8 100%);
  width: 196px;
  height: 66px;
  border-radius: 19px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}